body {
  margin: 0;
  box-sizing: border-box;
}

.header {
  background-color: white;
  width: 100%;
  position: fixed;
  padding-top: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: #4a4a4a;
}

.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.img {
  width: 155px;
}

.submenu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 13px;
}

.item {
  size: 16px;
  text-transform: uppercase;
  color: #4a4a4a;
  font-family: "Rubik", sans-serif;
}

.item2 {
  padding-left: 20px;
}

.main {
  background-color: #3cdbc0;
  height: 100vh;
}

.texto {
  margin: 0;
  font-size: 30px;
  font-weight: bold;
  font-family: "Rubik", sans-serif;
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* tablet desktop */

@media all and (min-width: 768px) {
  .header {
    padding-top: 20px;
  }

  .rightleft {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 30px;
    padding-bottom: 20px;
  }

  .submenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 30px;
  }

  .item2 {
    padding-left: 20px;
  }

  .texto {
    font-size: 40px;
  }
}
