:root {
  font-family: "Rubik", sans-serif;
}

body {
  margin: 0;
  box-sizing: border-box;
}

.header {
  background-color: white;
  width: 100%;
  position: fixed;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img {
  width: 155px;
}

.menu {
  padding-top: 10px;
  padding-bottom: 13px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: #4a4a4a;
  padding: 5px;
}

.menulist {
  width: 155px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.item {
  size: 16px;
  text-transform: uppercase;
  color: #4a4a4a;
}

.main {
  background-color: #3cdbc0;
  height: 100vh;
}

.texto {
  margin: 0;
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: capitalize;
  text-align: center;
  word-spacing: 100vw;
}

/* tablet desktop */

@media all and (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: space-between;

    padding-bottom: 20px;
    padding-top: 20px;
  }

  .img {
    margin-left: 30px;
  }

  .menu {
    margin-right: 30px;
  }

  .texto {
    font-size: 40px;
  }
}
